:root {
    --primary: #fb6bd9;
    --bg: #ffd700;
}

/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

/* Body Styling */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    margin: 0;
    padding: 20px;
}

/* Navbar Styling */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b59f7;
    border-bottom: 1px solid var(--primary);
    position: fixed;
    padding: 1.4rem 7%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.navbar-logo span {
    color: #FFD700;
}

.navbar-nav a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-nav a:hover {
    color: #FFD700;
}

.navbar-extra a {
    color: #ffffff;
    font-size: 20px;
    margin-left: 15px;
    text-decoration: none;
}

/* About Section */

.about-content h1{
    font-size: 2.6rem;
    margin-top: 0.05rem;
    text-align: center;
    z-index: 8888;
}

.about-content p{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem 7% 1rem;
    
}

/* Member Profile Styling */
.member-profile {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; /* Spasi antar profil */
    display: flex; /* Gunakan flex untuk menata gambar dan teks */
    align-items: center; /* Vertikal align di tengah */
}

.member-photo {
    width: 100px; /* Ukuran foto */
    height: 100px; /* Ukuran foto */
    border-radius: 50%; /* Membuat foto berbentuk lingkaran */
    margin-right: 20px; /* Spasi antara foto dan teks */
}

.member-profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4b59f7; /* Warna judul profil */
}

.member-profile p {
    margin: 5px 0; /* Spasi antar paragraf dalam profil */
}